/**
 * 1.0 - Variables
 */


/**
 * 1.1 - Colors
 */

$theme-background-color : (

    background-color: #000000, 

    page-background-color: #000000, 

    primary-background-color: #111111,

    secondary-background-color: #121212,

    tertiary-background-color: #2b2b2b, 

);

$theme-color:(

    site-branding-color: #ffffff, 

    heading-text-color: #fff,

    header-navigation-color: #fff,

    main-text-color: #999999, 

    secondary-text-color: #969696, 

    link-color: #5064f9, 

    link-hover-color: #fff, 

    secondary-link-color: #888,

    secondary-link-hover-color: #5064f9, 

    tertiary-link-color: #fff, 

    border-color: #282828,  

    content-color-white: #fff, 

    absolute-site-branding-color: #ffffff, // #ffffff

    absolute-header-navigation-color: #ffffff, // #ffffff

    absolute-header-navigation-hover-color: #5064f9, // #ffffff

);

$button-color: (

    button-text-color: #ffffff, // #ffffff

    button-hover-text-color: #ffffff, // #ffffff

    button-background-color: #5064f9, // #ed3f27

    ghost-button-text-color: #ffffff, // #fffffff
    
);
